@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.cnt-tlt {
    font-size: 5rem;
    color: var(--text-color);
    margin-bottom: 30px;
}

.price_list {
    margin-bottom: 40px;
}

.ins-tlt {
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
}

.instagram {
    width: 100%;
    margin-bottom: 50px;

}

.ins-im {
    width: 100%;
}